<div class="jumbotron" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">Bozhidar Petrov</h1>
    <h3>Angular Developer</h3>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px">
    <a href="https://bg.linkedin.com/in/bozhidar-petrov" target="_blank">
      <img
        src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk4Mi1kMS0xMC5wbmc.png"
        width="40"
        height="40"
        class="rounder-circle me-1"
      />
    </a>

    <a
      href="https://github.com/BozhidarPetrov?tab=repositories"
      target="_blank"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
        width="40"
        height="40"
        class="rounder-circle me-1"
      />
    </a>
  </div>
</div>
